# build output
dist/
.output/

# dependencies
node_modules/

# generated Astro types & cache
.astro/

# environment
.env
.env.production

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
Thumbs.db
