---
import '../styles/global.css';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  article?: boolean;
}
const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head {...props} />
  </head>
  <body>
    <a href="#main" class="skip-link">skip to content</a>
    <Header />
    <main id="main" class="wrap">
      <slot />
    </main>
    <Footer />
  </body>
</html>
